
<div *ngIf="category">
    <h2><span jhiTranslate="backpackdaddyApp.category.detail.title">Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.category.categoryDescription">Category Description</span></dt>
        <dd>
            <span>{{category.categoryDescription}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.category.level">Level</span></dt>
        <dd>
            <span>{{category.level}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.category.parentId">Parent Id</span></dt>
        <dd>
            <span>{{category.parentId}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.category.order">Order</span></dt>
        <dd>
            <span>{{category.order}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
