
<div *ngIf="admRefDepartment">
    <h2><span jhiTranslate="backpackdaddyApp.admRefDepartment.detail.title">Adm Ref Department</span> {{admRefDepartment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.admRefDepartment.departmentName">Department Name</span></dt>
        <dd>
            <span>{{admRefDepartment.departmentName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adm-ref-department/'+ admRefDepartment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
