
<div *ngIf="transaction">
    <h2><span jhiTranslate="backpackdaddyApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.transaction.track">Track</span></dt>
        <dd>
            <div *ngIf="transaction.trackId">
                <a [routerLink]="['/track', transaction.trackId]">{{transaction.trackId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.transaction.request">Request</span></dt>
        <dd>
            <div *ngIf="transaction.requestId">
                <a [routerLink]="['/request', transaction.requestId]">{{transaction.requestId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.transaction.trip">Trip</span></dt>
        <dd>
            <div *ngIf="transaction.tripId">
                <a [routerLink]="['/trip', transaction.tripId]">{{transaction.tripId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
