<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionLabel" jhiTranslate="backpackdaddyApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transaction.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transaction.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.transaction.track" for="field_track">Track</label>
            <select class="form-control" id="field_track" name="track" [(ngModel)]="transaction.trackId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="trackOption.id" *ngFor="let trackOption of tracks; trackBy: trackTrackById">{{trackOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.transaction.request" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" [(ngModel)]="transaction.requestId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="requestOption.id" *ngFor="let requestOption of requests; trackBy: trackRequestById">{{requestOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.transaction.trip" for="field_trip">Trip</label>
            <select class="form-control" id="field_trip" name="trip" [(ngModel)]="transaction.tripId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tripOption.id" *ngFor="let tripOption of trips; trackBy: trackTripById">{{tripOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
