<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionStatusLabel" jhiTranslate="backpackdaddyApp.transactionStatus.home.createOrEditLabel">Create or edit a Transaction Status</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transactionStatus.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transactionStatus.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.transactionStatus.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="transactionStatus.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.transactionStatus.flagId" for="field_flagId">Flag Id</label>
            <input type="text" class="form-control" name="flagId" id="field_flagId"
                [(ngModel)]="transactionStatus.flagId" minlength="1" />
            <div [hidden]="!(editForm.controls.flagId?.dirty && editForm.controls.flagId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.flagId?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
