
<div *ngIf="transactionStatus">
    <h2><span jhiTranslate="backpackdaddyApp.transactionStatus.detail.title">Transaction Status</span> {{transactionStatus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.transactionStatus.description">Description</span></dt>
        <dd>
            <span>{{transactionStatus.description}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.transactionStatus.flagId">Flag Id</span></dt>
        <dd>
            <span>{{transactionStatus.flagId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction-status/'+ transactionStatus.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
