
<div *ngIf="admRefPosition">
    <h2><span jhiTranslate="backpackdaddyApp.admRefPosition.detail.title">Adm Ref Position</span> {{admRefPosition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.admRefPosition.positionName">Position Name</span></dt>
        <dd>
            <span>{{admRefPosition.positionName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adm-ref-position/'+ admRefPosition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
