
<div *ngIf="admStaff">
    <h2><span jhiTranslate="backpackdaddyApp.admStaff.detail.title">Adm Staff</span> {{admStaff.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.email">Email</span></dt>
        <dd>
            <span>{{admStaff.email}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.staffName">Staff Name</span></dt>
        <dd>
            <span>{{admStaff.staffName}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.password">Password</span></dt>
        <dd>
            <span>{{admStaff.password}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.hireDate">Hire Date</span></dt>
        <dd>
            <span>{{admStaff.hireDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.isActivated">Is Activated</span></dt>
        <dd>
            <span>{{admStaff.isActivated}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.isActive">Is Active</span></dt>
        <dd>
            <span>{{admStaff.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.branch">Branch</span></dt>
        <dd>
            <div *ngIf="admStaff.branchId">
                <a [routerLink]="['/adm-ref-branch', admStaff.branchId]">{{admStaff.branchBranchName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.department">Department</span></dt>
        <dd>
            <div *ngIf="admStaff.departmentId">
                <a [routerLink]="['/adm-ref-department', admStaff.departmentId]">{{admStaff.departmentDepartmentName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.group">Group</span></dt>
        <dd>
            <div *ngIf="admStaff.groupId">
                <a [routerLink]="['/adm-ref-group', admStaff.groupId]">{{admStaff.groupGroupName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admStaff.position">Position</span></dt>
        <dd>
            <div *ngIf="admStaff.positionId">
                <a [routerLink]="['/adm-ref-position', admStaff.positionId]">{{admStaff.positionPositionName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adm-staff/'+ admStaff.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
