<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.admStaff.home.title">Adm Staffs</span>
        <button class="btn btn-primary float-right jh-create-entity create-adm-staff" [routerLink]="['/', { outlets: { popup: ['adm-staff-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.admStaff.home.createLabel">
            Create new Adm Staff
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.admStaff.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="admStaffs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.email">Email</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.staffName">Staff Name</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.password">Password</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.hireDate">Hire Date</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.isActivated">Is Activated</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.isActive">Is Active</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.branch">Branch</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.department">Department</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.group">Group</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admStaff.position">Position</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let admStaff of admStaffs ;trackBy: trackId">
                <td><a [routerLink]="['../adm-staff', admStaff.id ]">{{admStaff.id}}</a></td>
                <td>{{admStaff.email}}</td>
                <td>{{admStaff.staffName}}</td>
                <td>{{admStaff.password}}</td>
                <td>{{admStaff.hireDate | date:'medium'}}</td>
                <td>{{admStaff.isActivated}}</td>
                <td>{{admStaff.isActive}}</td>
                <td>
                    <div *ngIf="admStaff.branchId">
                        <a [routerLink]="['../adm-ref-branch', admStaff.branchId  ]" >{{admStaff.branchBranchName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="admStaff.departmentId">
                        <a [routerLink]="['../adm-ref-department', admStaff.departmentId  ]" >{{admStaff.departmentDepartmentName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="admStaff.groupId">
                        <a [routerLink]="['../adm-ref-group', admStaff.groupId  ]" >{{admStaff.groupGroupName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="admStaff.positionId">
                        <a [routerLink]="['../adm-ref-position', admStaff.positionId  ]" >{{admStaff.positionPositionName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../adm-staff', admStaff.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adm-staff/'+ admStaff.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adm-staff/'+ admStaff.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
