<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAdmStaffLabel" jhiTranslate="backpackdaddyApp.admStaff.home.createOrEditLabel">Create or edit a Adm Staff</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!admStaff.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="admStaff.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="admStaff.email" required />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.staffName" for="field_staffName">Staff Name</label>
            <input type="text" class="form-control" name="staffName" id="field_staffName"
                [(ngModel)]="admStaff.staffName" required />
            <div [hidden]="!(editForm.controls.staffName?.dirty && editForm.controls.staffName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.staffName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="admStaff.password" required />
            <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.password?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.hireDate" for="field_hireDate">Hire Date</label>
            <div class="d-flex">
                <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" [(ngModel)]="admStaff.hireDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.hireDate?.dirty && editForm.controls.hireDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hireDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.hireDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.isActivated" for="field_isActivated">Is Activated</label>
            <input type="checkbox" class="form-control" name="isActivated" id="field_isActivated"
                [(ngModel)]="admStaff.isActivated"  />
            <div [hidden]="!(editForm.controls.isActivated?.dirty && editForm.controls.isActivated?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isActivated?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.isActive" for="field_isActive">Is Active</label>
            <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                [(ngModel)]="admStaff.isActive"  />
            <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.branch" for="field_branch">Branch</label>
            <select class="form-control" id="field_branch" name="branch" [(ngModel)]="admStaff.branchId"  required>
                <option *ngIf="!editForm.value.branch" [ngValue]="null" selected></option>
                <option [ngValue]="admRefBranchOption.id" *ngFor="let admRefBranchOption of admrefbranches; trackBy: trackAdmRefBranchById">{{admRefBranchOption.branchName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.branch?.dirty && editForm.controls.branch?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.branch?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="admStaff.departmentId"  required>
                <option *ngIf="!editForm.value.department" [ngValue]="null" selected></option>
                <option [ngValue]="admRefDepartmentOption.id" *ngFor="let admRefDepartmentOption of admrefdepartments; trackBy: trackAdmRefDepartmentById">{{admRefDepartmentOption.departmentName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.department?.dirty && editForm.controls.department?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.department?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.group" for="field_group">Group</label>
            <select class="form-control" id="field_group" name="group" [(ngModel)]="admStaff.groupId"  required>
                <option *ngIf="!editForm.value.group" [ngValue]="null" selected></option>
                <option [ngValue]="admRefGroupOption.id" *ngFor="let admRefGroupOption of admrefgroups; trackBy: trackAdmRefGroupById">{{admRefGroupOption.groupName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.group?.dirty && editForm.controls.group?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.group?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admStaff.position" for="field_position">Position</label>
            <select class="form-control" id="field_position" name="position" [(ngModel)]="admStaff.positionId"  required>
                <option *ngIf="!editForm.value.position" [ngValue]="null" selected></option>
                <option [ngValue]="admRefPositionOption.id" *ngFor="let admRefPositionOption of admrefpositions; trackBy: trackAdmRefPositionById">{{admRefPositionOption.positionName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.position?.dirty && editForm.controls.position?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.position?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
