<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.attachmentDetails.home.title">Attachment Details</span>
        <button class="btn btn-primary float-right jh-create-entity create-attachment-details" [routerLink]="['/', { outlets: { popup: ['attachment-details-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.attachmentDetails.home.createLabel">
            Create new Attachment Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.attachmentDetails.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="attachmentDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backpackdaddyApp.attachmentDetails.attachmentDescription">Attachment Description</span></th>
            <th><span jhiTranslate="backpackdaddyApp.attachmentDetails.attachmentPath">Attachment Path</span></th>
            <th><span jhiTranslate="backpackdaddyApp.attachmentDetails.track">Track</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attachmentDetails of attachmentDetails ;trackBy: trackId">
                <td><a [routerLink]="['../attachment-details', attachmentDetails.id ]">{{attachmentDetails.id}}</a></td>
                <td>{{attachmentDetails.attachmentDescription}}</td>
                <td>{{attachmentDetails.attachmentPath}}</td>
                <td>
                    <div *ngIf="attachmentDetails.trackId">
                        <a [routerLink]="['../track', attachmentDetails.trackId  ]" >{{attachmentDetails.trackId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../attachment-details', attachmentDetails.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachment-details/'+ attachmentDetails.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attachment-details/'+ attachmentDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
