<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAttachmentDetailsLabel" jhiTranslate="backpackdaddyApp.attachmentDetails.home.createOrEditLabel">Create or edit a Attachment Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!attachmentDetails.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="attachmentDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.attachmentDetails.attachmentDescription" for="field_attachmentDescription">Attachment Description</label>
            <input type="text" class="form-control" name="attachmentDescription" id="field_attachmentDescription"
                [(ngModel)]="attachmentDetails.attachmentDescription" required />
            <div [hidden]="!(editForm.controls.attachmentDescription?.dirty && editForm.controls.attachmentDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.attachmentDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.attachmentDetails.attachmentPath" for="field_attachmentPath">Attachment Path</label>
            <input type="text" class="form-control" name="attachmentPath" id="field_attachmentPath"
                [(ngModel)]="attachmentDetails.attachmentPath" required />
            <div [hidden]="!(editForm.controls.attachmentPath?.dirty && editForm.controls.attachmentPath?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.attachmentPath?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.attachmentDetails.track" for="field_track">Track</label>
            <select class="form-control" id="field_track" name="track" [(ngModel)]="attachmentDetails.trackId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="trackOption.id" *ngFor="let trackOption of tracks; trackBy: trackTrackById">{{trackOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
