
<div *ngIf="attachmentDetails">
    <h2><span jhiTranslate="backpackdaddyApp.attachmentDetails.detail.title">Attachment Details</span> {{attachmentDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.attachmentDetails.attachmentDescription">Attachment Description</span></dt>
        <dd>
            <span>{{attachmentDetails.attachmentDescription}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.attachmentDetails.attachmentPath">Attachment Path</span></dt>
        <dd>
            <span>{{attachmentDetails.attachmentPath}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.attachmentDetails.track">Track</span></dt>
        <dd>
            <div *ngIf="attachmentDetails.trackId">
                <a [routerLink]="['/track', attachmentDetails.trackId]">{{attachmentDetails.trackId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attachment-details/'+ attachmentDetails.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
