<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.admAuditTrail.home.title">Adm Audit Trails</span>
        <button class="btn btn-primary float-right jh-create-entity create-adm-audit-trail" [routerLink]="['/', { outlets: { popup: ['adm-audit-trail-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.admAuditTrail.home.createLabel">
            Create new Adm Audit Trail
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.admAuditTrail.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="admAuditTrails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admAuditTrail.tableName">Table Name</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admAuditTrail.auditStatus">Audit Status</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admAuditTrail.oldValues">Old Values</span></th>
            <th><span jhiTranslate="backpackdaddyApp.admAuditTrail.newValues">New Values</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let admAuditTrail of admAuditTrails ;trackBy: trackId">
                <td><a [routerLink]="['../adm-audit-trail', admAuditTrail.id ]">{{admAuditTrail.id}}</a></td>
                <td>{{admAuditTrail.tableName}}</td>
                <td>{{admAuditTrail.auditStatus}}</td>
                <td>{{admAuditTrail.oldValues}}</td>
                <td>{{admAuditTrail.newValues}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../adm-audit-trail', admAuditTrail.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adm-audit-trail/'+ admAuditTrail.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adm-audit-trail/'+ admAuditTrail.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
