<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAdmAuditTrailLabel" jhiTranslate="backpackdaddyApp.admAuditTrail.home.createOrEditLabel">Create or edit a Adm Audit Trail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!admAuditTrail.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="admAuditTrail.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admAuditTrail.tableName" for="field_tableName">Table Name</label>
            <input type="text" class="form-control" name="tableName" id="field_tableName"
                [(ngModel)]="admAuditTrail.tableName" required />
            <div [hidden]="!(editForm.controls.tableName?.dirty && editForm.controls.tableName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tableName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admAuditTrail.auditStatus" for="field_auditStatus">Audit Status</label>
            <input type="text" class="form-control" name="auditStatus" id="field_auditStatus"
                [(ngModel)]="admAuditTrail.auditStatus" required />
            <div [hidden]="!(editForm.controls.auditStatus?.dirty && editForm.controls.auditStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.auditStatus?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admAuditTrail.oldValues" for="field_oldValues">Old Values</label>
            <input type="text" class="form-control" name="oldValues" id="field_oldValues"
                [(ngModel)]="admAuditTrail.oldValues" required />
            <div [hidden]="!(editForm.controls.oldValues?.dirty && editForm.controls.oldValues?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.oldValues?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admAuditTrail.newValues" for="field_newValues">New Values</label>
            <input type="text" class="form-control" name="newValues" id="field_newValues"
                [(ngModel)]="admAuditTrail.newValues" required />
            <div [hidden]="!(editForm.controls.newValues?.dirty && editForm.controls.newValues?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.newValues?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
