
<div *ngIf="admAuditTrail">
    <h2><span jhiTranslate="backpackdaddyApp.admAuditTrail.detail.title">Adm Audit Trail</span> {{admAuditTrail.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.admAuditTrail.tableName">Table Name</span></dt>
        <dd>
            <span>{{admAuditTrail.tableName}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admAuditTrail.auditStatus">Audit Status</span></dt>
        <dd>
            <span>{{admAuditTrail.auditStatus}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admAuditTrail.oldValues">Old Values</span></dt>
        <dd>
            <span>{{admAuditTrail.oldValues}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.admAuditTrail.newValues">New Values</span></dt>
        <dd>
            <span>{{admAuditTrail.newValues}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adm-audit-trail/'+ admAuditTrail.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
