<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.store.home.title">Stores</span>
        <button class="btn btn-primary float-right jh-create-entity create-store" [routerLink]="['/', { outlets: { popup: ['store-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.store.home.createLabel">
            Create new Store
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.store.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stores">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backpackdaddyApp.store.offlineShop">Offline Shop</span></th>
            <th><span jhiTranslate="backpackdaddyApp.store.onlineShop">Online Shop</span></th>
            <th><span jhiTranslate="backpackdaddyApp.store.price">Price</span></th>
            <th><span jhiTranslate="backpackdaddyApp.store.country">Country</span></th>
            <th><span jhiTranslate="backpackdaddyApp.store.currency">Currency</span></th>
            <th><span jhiTranslate="backpackdaddyApp.store.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of stores ;trackBy: trackId">
                <td><a [routerLink]="['../store', store.id ]">{{store.id}}</a></td>
                <td>{{store.offlineShop}}</td>
                <td>{{store.onlineShop}}</td>
                <td>{{store.price}}</td>
                <td>
                    <div *ngIf="store.countryId">
                        <a [routerLink]="['../country', store.countryId  ]" >{{store.countryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="store.currencyId">
                        <a [routerLink]="['../currency', store.currencyId  ]" >{{store.currencyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="store.productId">
                        <a [routerLink]="['../product', store.productId  ]" >{{store.productId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../store', store.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'store/'+ store.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'store/'+ store.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
