
<div *ngIf="store">
    <h2><span jhiTranslate="backpackdaddyApp.store.detail.title">Store</span> {{store.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.store.offlineShop">Offline Shop</span></dt>
        <dd>
            <span>{{store.offlineShop}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.store.onlineShop">Online Shop</span></dt>
        <dd>
            <span>{{store.onlineShop}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.store.price">Price</span></dt>
        <dd>
            <span>{{store.price}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.store.country">Country</span></dt>
        <dd>
            <div *ngIf="store.countryId">
                <a [routerLink]="['/country', store.countryId]">{{store.countryId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.store.currency">Currency</span></dt>
        <dd>
            <div *ngIf="store.currencyId">
                <a [routerLink]="['/currency', store.currencyId]">{{store.currencyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.store.product">Product</span></dt>
        <dd>
            <div *ngIf="store.productId">
                <a [routerLink]="['/product', store.productId]">{{store.productId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'store/'+ store.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
