
<div *ngIf="region">
    <h2><span jhiTranslate="backpackdaddyApp.region.detail.title">Region</span> {{region.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.region.code">Code</span></dt>
        <dd>
            <span>{{region.code}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.region.name">Name</span></dt>
        <dd>
            <span>{{region.name}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.region.country">Country</span></dt>
        <dd>
            <div *ngIf="region.countryId">
                <a [routerLink]="['/country', region.countryId]">{{region.countryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'region/'+ region.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
