
<div *ngIf="admRefGroup">
    <h2><span jhiTranslate="backpackdaddyApp.admRefGroup.detail.title">Adm Ref Group</span> {{admRefGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.admRefGroup.groupName">Group Name</span></dt>
        <dd>
            <span>{{admRefGroup.groupName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adm-ref-group/'+ admRefGroup.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
