<div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="row justify-content-center" *ngIf="success && !isActive">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myUserProfileLabel">ops, you almost done ... </h4>
                    </div>
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.name" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                [(ngModel)]="userProfile.name" required />
                            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                   This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.gender" for="field_gender">Gender</label>
                            <select class="form-control" id="field_gender" name="gender" [(ngModel)]="userProfile.genderId"  required>
                                <option *ngIf="!editForm.value.gender" [ngValue]="null" selected></option>
                                <option [ngValue]="genderOption.id" *ngFor="let genderOption of genders; trackBy: trackGenderById">{{genderOption.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.birthdate" for="field_birthdate">Birthdate</label>
                            <div class="input-group">
                                <input id="field_birthdate" type="text" class="form-control" name="birthdate" ngbDatepicker  #birthdateDp="ngbDatepicker" [(ngModel)]="userProfile.birthdate"
                                required/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div [hidden]="!(editForm.controls.birthdate?.dirty && editForm.controls.birthdate?.invalid)">
                                <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.birthdate?.errors?.required" jhiTranslate="entity.validation.required">
                                   This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.isAgeShow" for="field_isAgeShow">Is Age Show</label>
                            <input type="checkbox" class="form-control" name="isAgeShow" id="field_isAgeShow"
                                [(ngModel)]="userProfile.isAgeShow"  />
                            <div [hidden]="!(editForm.controls.isAgeShow?.dirty && editForm.controls.isAgeShow?.invalid)">
                                <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.isAgeShow?.errors?.required" jhiTranslate="entity.validation.required">
                                   This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.nationality" for="field_nationality">Nationality</label>
                            <select class="form-control" id="field_nationality" name="nationality" [(ngModel)]="userProfile.nationalityId"  required>
                                <option *ngIf="!editForm.value.nationality" [ngValue]="null" selected></option>
                                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.isWorkingOversea" for="field_isWorkingOversea">Is Working Oversea</label>
                            <input type="checkbox" class="form-control" name="isWorkingOversea" id="field_isWorkingOversea"
                                [(ngModel)]="userProfile.isWorkingOversea"  />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.currentLocation" for="field_currentLocation">Current Location</label>
                            <select class="form-control" id="field_currentLocation" name="currentLocation" [(ngModel)]="userProfile.currentLocationId"  required>
                                <option *ngIf="!editForm.value.currentLocation" [ngValue]="null" selected></option>
                                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
                            </select>
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.profileImage" for="field_profileImage">Profile Image</label>
                            <input type="text" class="form-control" name="profileImage" id="field_profileImage"
                                [(ngModel)]="userProfile.profileImage"  />
                        </div>  -->    
                        <div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.gender?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div [hidden]="!(editForm.controls.nationality?.dirty && editForm.controls.nationality?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.nationality?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div [hidden]="!(editForm.controls.currentLocation?.dirty && editForm.controls.currentLocation?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.currentLocation?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.occupation" for="field_occupation">Occupation</label>
                            <select class="form-control" id="field_occupation" name="occupation" [(ngModel)]="userProfile.occupationId"  required>
                                <option *ngIf="!editForm.value.occupation" [ngValue]="null" selected></option>
                                <option [ngValue]="occupationOption.id" *ngFor="let occupationOption of occupations; trackBy: trackOccupationById">{{occupationOption.name}}</option>
                            </select>
                        </div>
                        <div [hidden]="!(editForm.controls.occupation?.dirty && editForm.controls.occupation?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.occupation?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.language" for="field_language">Language</label>
                            <select class="form-control" id="field_language" name="language" [(ngModel)]="userProfile.languageId"  required>
                                <option *ngIf="!editForm.value.language" [ngValue]="null" selected></option>
                                <option [ngValue]="languageOption.id" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.name}}</option>
                            </select>
                        </div>
                        <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="backpackdaddyApp.userProfile.currency" for="field_currency">Currency</label>
                            <select class="form-control" id="field_currency" name="currency" [(ngModel)]="userProfile.currencyId"  required>
                                <option *ngIf="!editForm.value.currency" [ngValue]="null" selected></option>
                                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.name}}</option>
                            </select>
                        </div>
                        <div [hidden]="!(editForm.controls.currency?.dirty && editForm.controls.currency?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.currency?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button> -->
                        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>

            </div>

            <div class="alert alert-success" *ngIf="success && isActive">
                <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error && !isActive" jhiTranslate="activate.messages.error">
                <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
