<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.userProfile.home.title">User Profiles</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-profile" [routerLink]="['/', { outlets: { popup: ['user-profile-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.userProfile.home.createLabel">
            Create new User Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.userProfile.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userProfiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.name">Name</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.birthdate">Birthdate</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.isAgeShow">Is Age Show</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.isWorkingOversea">Is Working Oversea</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.profileImage">Profile Image</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.gender">Gender</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.nationality">Nationality</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.currentLocation">Current Location</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.occupation">Occupation</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.language">Language</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.currency">Currency</span></th>
            <th><span jhiTranslate="backpackdaddyApp.userProfile.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userProfile of userProfiles ;trackBy: trackId">
                <td><a [routerLink]="['../user-profile', userProfile.id ]">{{userProfile.id}}</a></td>
                <td>{{userProfile.name}}</td>
                <td>{{userProfile.birthdate | date:'mediumDate'}}</td>
                <td>{{userProfile.isAgeShow}}</td>
                <td>{{userProfile.isWorkingOversea}}</td>
                <td>{{userProfile.profileImage}}</td>
                <td>
                    <div *ngIf="userProfile.genderId">
                        <a [routerLink]="['../gender', userProfile.genderId  ]" >{{userProfile.genderName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.nationalityId">
                        <a [routerLink]="['../country', userProfile.nationalityId  ]" >{{userProfile.nationalityName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.currentLocationId">
                        <a [routerLink]="['../country', userProfile.currentLocationId  ]" >{{userProfile.currentLocationName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.occupationId">
                        <a [routerLink]="['../occupation', userProfile.occupationId  ]" >{{userProfile.occupationName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.languageId">
                        <a [routerLink]="['../language', userProfile.languageId  ]" >{{userProfile.languageName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.currencyId">
                        <a [routerLink]="['../currency', userProfile.currencyId  ]" >{{userProfile.currencyName}}</a>
                    </div>
                </td>
                <td>
                    {{userProfile.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-profile', userProfile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile/'+ userProfile.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile/'+ userProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
