
<div *ngIf="userProfile">
    <h2><span jhiTranslate="backpackdaddyApp.userProfile.detail.title">User Profile</span> {{userProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.name">Name</span></dt>
        <dd>
            <span>{{userProfile.name}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.birthdate">Birthdate</span></dt>
        <dd>
            <span>{{userProfile.birthdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.isAgeShow">Is Age Show</span></dt>
        <dd>
            <span>{{userProfile.isAgeShow}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.isWorkingOversea">Is Working Oversea</span></dt>
        <dd>
            <span>{{userProfile.isWorkingOversea}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.profileImage">Profile Image</span></dt>
        <dd>
            <span>{{userProfile.profileImage}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.gender">Gender</span></dt>
        <dd>
            <div *ngIf="userProfile.genderId">
                <a [routerLink]="['/gender', userProfile.genderId]">{{userProfile.genderName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.nationality">Nationality</span></dt>
        <dd>
            <div *ngIf="userProfile.nationalityId">
                <a [routerLink]="['/country', userProfile.nationalityId]">{{userProfile.nationalityName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.currentLocation">Current Location</span></dt>
        <dd>
            <div *ngIf="userProfile.currentLocationId">
                <a [routerLink]="['/country', userProfile.currentLocationId]">{{userProfile.currentLocationName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.occupation">Occupation</span></dt>
        <dd>
            <div *ngIf="userProfile.occupationId">
                <a [routerLink]="['/occupation', userProfile.occupationId]">{{userProfile.occupationName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.language">Language</span></dt>
        <dd>
            <div *ngIf="userProfile.languageId">
                <a [routerLink]="['/language', userProfile.languageId]">{{userProfile.languageName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.currency">Currency</span></dt>
        <dd>
            <div *ngIf="userProfile.currencyId">
                <a [routerLink]="['/currency', userProfile.currencyId]">{{userProfile.currencyName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.userProfile.user">User</span></dt>
        <dd>
            {{userProfile.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-profile/'+ userProfile.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
