
<div *ngIf="request">
    <h2><span jhiTranslate="backpackdaddyApp.request.detail.title">Request</span> {{request.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.request.shippingMethod">Shipping Method</span></dt>
        <dd>
            <span jhiTranslate="{{'backpackdaddyApp.ShippingMethod.' + request.shippingMethod}}">{{request.shippingMethod}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.requestDate">Request Date</span></dt>
        <dd>
            <span>{{request.requestDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.name">Name</span></dt>
        <dd>
            <span>{{request.name}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.address">Address</span></dt>
        <dd>
            <span>{{request.address}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.productPrice">Product Price</span></dt>
        <dd>
            <span>{{request.productPrice}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.productQuantity">Product Quantity</span></dt>
        <dd>
            <span>{{request.productQuantity}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.preferencePayment">Preference Payment</span></dt>
        <dd>
            <span jhiTranslate="{{'backpackdaddyApp.PreferencePayment.' + request.preferencePayment}}">{{request.preferencePayment}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.tipAmount">Tip Amount</span></dt>
        <dd>
            <span>{{request.tipAmount}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.commisionFee">Commision Fee</span></dt>
        <dd>
            <span>{{request.commisionFee}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.baggageCharge">Baggage Charge</span></dt>
        <dd>
            <span>{{request.baggageCharge}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.shippingCharge">Shipping Charge</span></dt>
        <dd>
            <span>{{request.shippingCharge}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.remarks">Remarks</span></dt>
        <dd>
            <span>{{request.remarks}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.isDraft">Is Draft</span></dt>
        <dd>
            <span>{{request.isDraft}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.product">Product</span></dt>
        <dd>
            <div *ngIf="request.productId">
                <a [routerLink]="['/product', request.productId]">{{request.productId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.user">User</span></dt>
        <dd>
            {{request.userId}}
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.city">City</span></dt>
        <dd>
            <div *ngIf="request.cityId">
                <a [routerLink]="['/city', request.cityId]">{{request.cityId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.request.tipCurrency">Tip Currency</span></dt>
        <dd>
            <div *ngIf="request.tipCurrencyId">
                <a [routerLink]="['/currency', request.tipCurrencyId]">{{request.tipCurrencyId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
