<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRequestLabel" jhiTranslate="backpackdaddyApp.request.home.createOrEditLabel">Create or edit a Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!request.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="request.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.shippingMethod" for="field_shippingMethod">Shipping Method</label>
            <select class="form-control" name="shippingMethod" [(ngModel)]="request.shippingMethod" id="field_shippingMethod" >
                <option value="DIRECT_TRAVELLER">{{'backpackdaddyApp.ShippingMethod.DIRECT_TRAVELLER' | translate}}</option>
                <option value="COMPANY_SERVICE">{{'backpackdaddyApp.ShippingMethod.COMPANY_SERVICE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.requestDate" for="field_requestDate">Request Date</label>
            <div class="input-group">
                <input id="field_requestDate" type="text" class="form-control" name="requestDate" ngbDatepicker  #requestDateDp="ngbDatepicker" [(ngModel)]="request.requestDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="requestDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="request.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="request.address" required />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.productPrice" for="field_productPrice">Product Price</label>
            <input type="number" class="form-control" name="productPrice" id="field_productPrice"
                [(ngModel)]="request.productPrice" required />
            <div [hidden]="!(editForm.controls.productPrice?.dirty && editForm.controls.productPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productPrice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.productPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.productQuantity" for="field_productQuantity">Product Quantity</label>
            <input type="number" class="form-control" name="productQuantity" id="field_productQuantity"
                [(ngModel)]="request.productQuantity" required />
            <div [hidden]="!(editForm.controls.productQuantity?.dirty && editForm.controls.productQuantity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productQuantity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.productQuantity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.preferencePayment" for="field_preferencePayment">Preference Payment</label>
            <select class="form-control" name="preferencePayment" [(ngModel)]="request.preferencePayment" id="field_preferencePayment"  required>
                <option value="NEGOTIABLE">{{'backpackdaddyApp.PreferencePayment.NEGOTIABLE' | translate}}</option>
                <option value="RANGE">{{'backpackdaddyApp.PreferencePayment.RANGE' | translate}}</option>
                <option value="FIXED">{{'backpackdaddyApp.PreferencePayment.FIXED' | translate}}</option>
                <option value="PERCENTAGE">{{'backpackdaddyApp.PreferencePayment.PERCENTAGE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.preferencePayment?.dirty && editForm.controls.preferencePayment?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.preferencePayment?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.tipAmount" for="field_tipAmount">Tip Amount</label>
            <input type="number" class="form-control" name="tipAmount" id="field_tipAmount"
                [(ngModel)]="request.tipAmount" required />
            <div [hidden]="!(editForm.controls.tipAmount?.dirty && editForm.controls.tipAmount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipAmount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipAmount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.commisionFee" for="field_commisionFee">Commision Fee</label>
            <input type="number" class="form-control" name="commisionFee" id="field_commisionFee"
                [(ngModel)]="request.commisionFee"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.baggageCharge" for="field_baggageCharge">Baggage Charge</label>
            <input type="number" class="form-control" name="baggageCharge" id="field_baggageCharge"
                [(ngModel)]="request.baggageCharge"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.shippingCharge" for="field_shippingCharge">Shipping Charge</label>
            <input type="number" class="form-control" name="shippingCharge" id="field_shippingCharge"
                [(ngModel)]="request.shippingCharge"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                [(ngModel)]="request.remarks"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.isDraft" for="field_isDraft">Is Draft</label>
            <input type="text" class="form-control" name="isDraft" id="field_isDraft"
                [(ngModel)]="request.isDraft" minlength="1" />
            <div [hidden]="!(editForm.controls.isDraft?.dirty && editForm.controls.isDraft?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isDraft?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="request.productId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="request.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.city" for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" [(ngModel)]="request.cityId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cityOption.id" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.request.tipCurrency" for="field_tipCurrency">Tip Currency</label>
            <select class="form-control" id="field_tipCurrency" name="tipCurrency" [(ngModel)]="request.tipCurrencyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
