<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.request.home.title">Requests</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-request" [routerLink]="['/', { outlets: { popup: ['request-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.request.home.createLabel">
            Create new Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.request.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="requests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="requestDate"><span jhiTranslate="backpackdaddyApp.request.requestDate">Request Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="backpackdaddyApp.request.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="backpackdaddyApp.request.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productPrice"><span jhiTranslate="backpackdaddyApp.request.productPrice">Product Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productQuantity"><span jhiTranslate="backpackdaddyApp.request.productQuantity">Product Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarks"><span jhiTranslate="backpackdaddyApp.request.remarks">Remarks</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productId"><span jhiTranslate="backpackdaddyApp.request.product">Product</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cityId"><span jhiTranslate="backpackdaddyApp.request.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipCurrencyId"><span jhiTranslate="backpackdaddyApp.request.tipCurrency">Tip Currency</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let request of requests ;trackBy: trackId">
                <td>{{request.requestDate | date:'mediumDate'}}</td>
                <td>{{request.name}}</td>
                <td>{{request.address}}</td>
                <td>{{request.productPrice}}</td>
                <td>{{request.productQuantity}}</td>
                <td>{{request.remarks}}</td>
                <td>
                    <div *ngIf="request.productId">
                        <a [routerLink]="['../product', request.productId  ]" >{{request.productId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="request.cityId">
                        <a [routerLink]="['../city', request.cityId  ]" >{{request.cityId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="request.tipCurrencyId">
                        <a [routerLink]="['../currency', request.tipCurrencyId  ]" >{{request.tipCurrencyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../request', request.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
