<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAdmRefBranchLabel" jhiTranslate="backpackdaddyApp.admRefBranch.home.createOrEditLabel">Create or edit a Adm Ref Branch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!admRefBranch.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="admRefBranch.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.admRefBranch.branchName" for="field_branchName">Branch Name</label>
            <input type="text" class="form-control" name="branchName" id="field_branchName"
                [(ngModel)]="admRefBranch.branchName" required />
            <div [hidden]="!(editForm.controls.branchName?.dirty && editForm.controls.branchName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.branchName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
