<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrackLabel" jhiTranslate="backpackdaddyApp.track.home.createOrEditLabel">Create or edit a Track</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!track.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="track.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.track.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="track.statusId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="transactionStatusOption.id" *ngFor="let transactionStatusOption of transactionstatuses; trackBy: trackTransactionStatusById">{{transactionStatusOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
