<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCityLabel" jhiTranslate="backpackdaddyApp.city.home.createOrEditLabel">Create or edit a City</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!city.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="city.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.city.latitude" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="city.latitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.city.longitude" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="city.longitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.city.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="city.name"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.city.region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" [(ngModel)]="city.regionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="regionOption.id" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
