<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductLabel" jhiTranslate="backpackdaddyApp.product.home.createOrEditLabel">Create or edit a Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.productName" for="field_productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                [(ngModel)]="product.productName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.image1" for="field_image1">Image 1</label>
            <input type="text" class="form-control" name="image1" id="field_image1"
                [(ngModel)]="product.image1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.image2" for="field_image2">Image 2</label>
            <input type="text" class="form-control" name="image2" id="field_image2"
                [(ngModel)]="product.image2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.image3" for="field_image3">Image 3</label>
            <input type="text" class="form-control" name="image3" id="field_image3"
                [(ngModel)]="product.image3"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.image4" for="field_image4">Image 4</label>
            <input type="text" class="form-control" name="image4" id="field_image4"
                [(ngModel)]="product.image4"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.image5" for="field_image5">Image 5</label>
            <input type="text" class="form-control" name="image5" id="field_image5"
                [(ngModel)]="product.image5"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.specification" for="field_specification">Specification</label>
            <input type="text" class="form-control" name="specification" id="field_specification"
                [(ngModel)]="product.specification"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="product.categoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.product.madeIn" for="field_madeIn">Made In</label>
            <select class="form-control" id="field_madeIn" name="madeIn" [(ngModel)]="product.madeInId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
