
<div *ngIf="product">
    <h2><span jhiTranslate="backpackdaddyApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.product.productName">Product Name</span></dt>
        <dd>
            <span>{{product.productName}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.image1">Image 1</span></dt>
        <dd>
            <span>{{product.image1}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.image2">Image 2</span></dt>
        <dd>
            <span>{{product.image2}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.image3">Image 3</span></dt>
        <dd>
            <span>{{product.image3}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.image4">Image 4</span></dt>
        <dd>
            <span>{{product.image4}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.image5">Image 5</span></dt>
        <dd>
            <span>{{product.image5}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.specification">Specification</span></dt>
        <dd>
            <span>{{product.specification}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.category">Category</span></dt>
        <dd>
            <div *ngIf="product.categoryId">
                <a [routerLink]="['/category', product.categoryId]">{{product.categoryId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.product.madeIn">Made In</span></dt>
        <dd>
            <div *ngIf="product.madeInId">
                <a [routerLink]="['/country', product.madeInId]">{{product.madeInId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
