<div>
    <h2>
        <span jhiTranslate="backpackdaddyApp.trip.home.title">Trips</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-trip" [routerLink]="['/', { outlets: { popup: ['trip-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="backpackdaddyApp.trip.home.createLabel">
            Create new Trip
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'backpackdaddyApp.trip.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trips">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="fixedAmount"><span jhiTranslate="backpackdaddyApp.trip.fixedAmount">Fixed Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shipDate"><span jhiTranslate="backpackdaddyApp.trip.shipDate">Ship Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarks"><span jhiTranslate="backpackdaddyApp.trip.remarks">Remarks</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromCountryId"><span jhiTranslate="backpackdaddyApp.trip.fromCountry">From Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toCountryId"><span jhiTranslate="backpackdaddyApp.trip.toCountry">To Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoryId"><span jhiTranslate="backpackdaddyApp.trip.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentCurrencyId"><span jhiTranslate="backpackdaddyApp.trip.paymentCurrency">Payment Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shippingFromId"><span jhiTranslate="backpackdaddyApp.trip.shippingFrom">Shipping From</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let trip of trips ;trackBy: trackId">
                <td>{{trip.fixedAmount}}</td>
                <td>{{trip.shipDate | date:'mediumDate'}}</td>
                <td>{{trip.remarks}}</td>
                <td>
                    <div *ngIf="trip.fromCountryId">
                        <a [routerLink]="['../country', trip.fromCountryId  ]" >{{trip.fromCountryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trip.toCountryId">
                        <a [routerLink]="['../country', trip.toCountryId  ]" >{{trip.toCountryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trip.categoryId">
                        <a [routerLink]="['../category', trip.categoryId  ]" >{{trip.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trip.paymentCurrencyId">
                        <a [routerLink]="['../currency', trip.paymentCurrencyId  ]" >{{trip.paymentCurrencyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trip.shippingFromId">
                        <a [routerLink]="['../city', trip.shippingFromId  ]" >{{trip.shippingFromId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trip', trip.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trip/'+ trip.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trip/'+ trip.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
