
<div *ngIf="trip">
    <h2><span jhiTranslate="backpackdaddyApp.trip.detail.title">Trip</span> {{trip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backpackdaddyApp.trip.weight">Weight</span></dt>
        <dd>
            <span>{{trip.weight}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.notice">Notice</span></dt>
        <dd>
            <span>{{trip.notice}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.preferencePayment">Preference Payment</span></dt>
        <dd>
            <span jhiTranslate="{{'backpackdaddyApp.PreferencePayment.' + trip.preferencePayment}}">{{trip.preferencePayment}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.rangeFrom">Range From</span></dt>
        <dd>
            <span>{{trip.rangeFrom}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.rangeTo">Range To</span></dt>
        <dd>
            <span>{{trip.rangeTo}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.fixedAmount">Fixed Amount</span></dt>
        <dd>
            <span>{{trip.fixedAmount}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.percentageAmount">Percentage Amount</span></dt>
        <dd>
            <span>{{trip.percentageAmount}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.baggageInformation">Baggage Information</span></dt>
        <dd>
            <span>{{trip.baggageInformation}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.shipDate">Ship Date</span></dt>
        <dd>
            <span>{{trip.shipDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.remarks">Remarks</span></dt>
        <dd>
            <span>{{trip.remarks}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.isDraft">Is Draft</span></dt>
        <dd>
            <span>{{trip.isDraft}}</span>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.user">User</span></dt>
        <dd>
            {{trip.userId}}
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.fromCountry">From Country</span></dt>
        <dd>
            <div *ngIf="trip.fromCountryId">
                <a [routerLink]="['/country', trip.fromCountryId]">{{trip.fromCountryId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.toCountry">To Country</span></dt>
        <dd>
            <div *ngIf="trip.toCountryId">
                <a [routerLink]="['/country', trip.toCountryId]">{{trip.toCountryId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.category">Category</span></dt>
        <dd>
            <div *ngIf="trip.categoryId">
                <a [routerLink]="['/category', trip.categoryId]">{{trip.categoryId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.paymentCurrency">Payment Currency</span></dt>
        <dd>
            <div *ngIf="trip.paymentCurrencyId">
                <a [routerLink]="['/currency', trip.paymentCurrencyId]">{{trip.paymentCurrencyId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backpackdaddyApp.trip.shippingFrom">Shipping From</span></dt>
        <dd>
            <div *ngIf="trip.shippingFromId">
                <a [routerLink]="['/city', trip.shippingFromId]">{{trip.shippingFromId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trip/'+ trip.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
