<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTripLabel" jhiTranslate="backpackdaddyApp.trip.home.createOrEditLabel">Create or edit a Trip</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!trip.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="trip.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="trip.weight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.notice" for="field_notice">Notice</label>
            <input type="text" class="form-control" name="notice" id="field_notice"
                [(ngModel)]="trip.notice" minlength="1" />
            <div [hidden]="!(editForm.controls.notice?.dirty && editForm.controls.notice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notice?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.preferencePayment" for="field_preferencePayment">Preference Payment</label>
            <select class="form-control" name="preferencePayment" [(ngModel)]="trip.preferencePayment" id="field_preferencePayment"  required>
                <option value="NEGOTIABLE">{{'backpackdaddyApp.PreferencePayment.NEGOTIABLE' | translate}}</option>
                <option value="RANGE">{{'backpackdaddyApp.PreferencePayment.RANGE' | translate}}</option>
                <option value="FIXED">{{'backpackdaddyApp.PreferencePayment.FIXED' | translate}}</option>
                <option value="PERCENTAGE">{{'backpackdaddyApp.PreferencePayment.PERCENTAGE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.preferencePayment?.dirty && editForm.controls.preferencePayment?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.preferencePayment?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.rangeFrom" for="field_rangeFrom">Range From</label>
            <input type="number" class="form-control" name="rangeFrom" id="field_rangeFrom"
                [(ngModel)]="trip.rangeFrom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.rangeTo" for="field_rangeTo">Range To</label>
            <input type="number" class="form-control" name="rangeTo" id="field_rangeTo"
                [(ngModel)]="trip.rangeTo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.fixedAmount" for="field_fixedAmount">Fixed Amount</label>
            <input type="number" class="form-control" name="fixedAmount" id="field_fixedAmount"
                [(ngModel)]="trip.fixedAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.percentageAmount" for="field_percentageAmount">Percentage Amount</label>
            <input type="number" class="form-control" name="percentageAmount" id="field_percentageAmount"
                [(ngModel)]="trip.percentageAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.baggageInformation" for="field_baggageInformation">Baggage Information</label>
            <input type="text" class="form-control" name="baggageInformation" id="field_baggageInformation"
                [(ngModel)]="trip.baggageInformation" minlength="1" />
            <div [hidden]="!(editForm.controls.baggageInformation?.dirty && editForm.controls.baggageInformation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.baggageInformation?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.shipDate" for="field_shipDate">Ship Date</label>
            <div class="input-group">
                <input id="field_shipDate" type="text" class="form-control" name="shipDate" ngbDatepicker  #shipDateDp="ngbDatepicker" [(ngModel)]="trip.shipDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="shipDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                [(ngModel)]="trip.remarks"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.isDraft" for="field_isDraft">Is Draft</label>
            <input type="text" class="form-control" name="isDraft" id="field_isDraft"
                [(ngModel)]="trip.isDraft" minlength="1" />
            <div [hidden]="!(editForm.controls.isDraft?.dirty && editForm.controls.isDraft?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isDraft?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="trip.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.fromCountry" for="field_fromCountry">From Country</label>
            <select class="form-control" id="field_fromCountry" name="fromCountry" [(ngModel)]="trip.fromCountryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.toCountry" for="field_toCountry">To Country</label>
            <select class="form-control" id="field_toCountry" name="toCountry" [(ngModel)]="trip.toCountryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="trip.categoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.paymentCurrency" for="field_paymentCurrency">Payment Currency</label>
            <select class="form-control" id="field_paymentCurrency" name="paymentCurrency" [(ngModel)]="trip.paymentCurrencyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backpackdaddyApp.trip.shippingFrom" for="field_shippingFrom">Shipping From</label>
            <select class="form-control" id="field_shippingFrom" name="shippingFrom" [(ngModel)]="trip.shippingFromId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cityOption.id" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
